$mainColor: #000000;
$black: #02141c;
$grey: #cccdcd;
$background: #37637651;
$textColor: #fdfdfd;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
  color: $black;
  font-size: 14px;
  color: $textColor;
  // outline: 1px dotted red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0 4%;
  background-color: $black;
}

.main-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

.btn {
  padding: 12px 28px;
  max-width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn:focus {
  outline: #01b3ff 1px solid;
}

.list-cont {
  width: 100%;
}

.delete-todo-btn {
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-input-container {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.758));

    input[type="text"] {
      width: 100%;
      padding: 0 20px;
      color: #000000;
      border: none;
    }

    input[type="text"]:focus {
      outline: #01b3ff 2px solid;
    }

    .add-btn {
      @extend .btn;
      background-color: $background;
      color: white;
    }
  }

  .main-heading {
    font-size: 3.5rem;
    font-weight: 900;
    max-width: 400px;

    margin-top: 40px;
    line-height: 1.35;
    letter-spacing: -2px;
    color: #fff;
    filter: drop-shadow(0px 2px 10px #00000017);
  }

  .gradient-wrap-text {
    font-size: 3.5rem;
    background: radial-gradient(#01b3ff, #8000ff);
    color: transparent;
    background-clip: text;
  }

  .heading {
    text-align: center;
    padding: 8px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $background;
    color: $textColor;
  }

  .pending-todo-container {
    width: 100%;
    background-color: $background;
    color: $textColor;
    display: flex;
    flex-direction: column;
    height: max-content;
    position: relative;

    .todo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 0 20px;
      border-bottom: #4a51547c solid 0.1px;
      gap: 10px;

      a {
        text-decoration: none;
      }

      .left-side {
        display: flex;
        gap: 10px;

        .todo-name {
          font-weight: 400;
        }
      }
    }
  }

  .list-cont::after {
    position: absolute;
    content: "";
    width: 110%;
    background-color: #000000;
  }

  .completed-todo-container {
    @extend .pending-todo-container;
    height: max-content;

    li .todo-name {
      text-decoration: line-through;
    }
  }
}

@media screen and (min-width: 750px) {
  body {
    padding: 0 7%;
  }
  main {
    width: 100%;

    .main-heading {
      font-size: 5rem;
      max-width: 600px;
    }

    .gradient-wrap-text {
      font-size: 5rem;
    }

    .main-cont {
      flex-direction: row;
    }
    .add-input-container {
      input[type="text"] {
        width: 600px;
      }
    }
  }
}
